body {
    background-color: white;
}


header {
    background-color: white;
    color: white;
    text-align: center;
    padding: 20px;
    width: 1380px;
    height: 200px;
}

h1 {
    margin: 10px;
}

.section {
    padding: 20px;
}


h2 {
    color: white;
    text-align: center;
}

.product-category {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.product {
    text-align: center;
    margin: 10px;
}

.product img {
    width: 250px;
    height: 250px;
    border: 2px solid green;
    border-radius: 10px;
}

.opo {
    width: 1380px;
    height: 200px;
}

@keyframes changing {
    0% {
        background-color: green;
    }

    25% {
        background-color: blanchedalmond;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: rgb(5, 128, 237);
    }

    100% {
        background-color: green;
    }

}

button {
    width: 25%;
    padding: 10px;
    background-color: green;
    border: 2px solid white;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    margin-left: 510px;
    cursor: pointer;
    animation-name: changing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    margin-bottom: 5px;
}

#ua {
    width: 1420px;
    height: 320px;
    border-radius: 5px solid white;
}

footer {
    background-color: green;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}



.form-container {
    background-color: #222;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}






input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #f4f4f4;
}

.btn {
    width: 40%;
    padding: 10px;
    background-color: green;
    border: 2px solid white;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    margin-left: 100px;
    cursor: pointer;

}

.box1 {
    width: 300px;
    height: 100px;
    margin-left: 18px;
    background-color: #3b9531;
    border-radius: 10px;
    color: white;
}

.box2 {
    width: 300px;
    height: 100px;
    margin-left: 18px;
    background-color: #ffffff;
    border-radius: 10px;
    color: green;
}




.name-container {
    display: flex;
}

.nav {
    height: 30px;
    width: 1390;
    background-color: green;
    gap: 10px;
    color: white;
    display: flex;
    padding: 20px;
}

.pop {
    display: flex;
    gap: 50px;
}

.ins {
    justify-content: 0;
    padding: 60px;
}

.foo {
    justify-content: center;
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: none;
    font-size: 1em;
}